.country {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100vw;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 10%;
    width: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.about img {
    border-radius: 20px;
    border: 1px solid black;
    width: 362px;
    height: 242px;
}

@media (max-width: 360px) {
    .country {
        flex-direction: column;
    } 
}
