.countries-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.country {
    display: flex;
    flex-direction: row;
    width: 402px;
    height: 127px;
    margin: 5px 15px;
    border-radius: 20px;
}

.country img {
    width: 191px;
    height: 127px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.country .text {
    width: 191px;
    height: 127px;
    word-wrap: break-word;
    font-size: 14px;
}

.country h4 {
    margin: 5px 0px;
} 

@media (max-width: 720px) {
    .country, .country img {
        border-radius: 5px;
        width: 573px;
        height: 381px;
        background-color: black;
    } 
    
    .country img {
        opacity: 0.6;
    }

    .country .text {
        background-color: none;
        display: block;
        transform: translate(-573px, 10px);
        width: 543px;
        height: 381px;
        color: white;
        text-align: center;
    } 
    
    .country h4 {
        width: 543px;
    } 
}

@media (max-width: 360px) {
    .country, .country img {
        border-radius: 5px;
        width: 305px;
        height: 203px;
        color: white;
        text-align: center;
        background-color: black;
    } 
    
    .country img {
        opacity: 0.6;
    }
 
    .country .text {
        background-color: none;
        display: block;
        transform: translate(-305px, 10px);
        width: 275px;
        height: 203px;
        color: white;
        text-align: center;
    } 

    .country h4 a {
        color: white;
    }
    
    .country h4 {
        width: 275px;
    } 
}
