* {
    font-family: "PT Sans", sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 75px;
    font-size: 16px;
}

.menu .logo {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.menu .logo img {
    width: 55px;
    height: 55px;
    margin: 10px 16px;
}

.menu .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.menu .item, .menu .logo .text {
    display: flex;
    align-items: center;
}

.menu .item a {
    color: white;
    text-decoration: none;
}

.load {
    border: 3px solid black;
    border-radius: 50%;
    animation: 2s infinite alternate load-anim;
    width: 50px;
    height: 50px;
    margin: 20px;
}

@keyframes load-anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.block {
    margin: 20px 0px;
}

.block-header {
    padding-left: 10px;
    color: #226e93;
    margin-bottom: 10px;
}

.block-text {
    margin-bottom: 2px;
    padding: 0px 30px;
}

.block-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-list li {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

a {
    text-decoration: underline;
    color: black;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert button {
    border-radius: 20px;
    border: 0px solid black;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.alert button:hover {
    background-color: gray;
} 

.alert div {
    text-align: center;
    margin-bottom: 20px;
} 

@media (max-width: 720px) {
   .menu .logo {
       display: none;
       position: absolute;
       width: 0px;
       height: 0px;
       top: 0;
       left: 0;
   }

   .menu {
       font-size: 14px;
   } 
 
   .menu .items {
       width: 100%;
   } 
   
   .menu .item a {
       font-size: 16px;
   } 
} 
