.w, form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    flex-direction: column;
}

input, option, select {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-color: gray black black gray  ;
    width: 275px;
}

select {
    width: 275px;
}

#submit, .goverment {
    margin-top: 45px;
}

.info, .other, .goverment, .valute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 360px) {
    * {
        flex-direction: column;
    } 
} 
